
* {
  box-sizing: border-box;
}

body {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
}

.gallery {
  margin-top: 40px;
}

input[type='search'] {
  width: 100%;
  padding: 20px;
  border: none;
  border-radius: 5px;
  height: auto;
  outline: 0;
  background-color: #EFF0F1;
  font-size: 1em;
}

@media (min-width:600px) {
  body {
    width: 70%;
  }

  input[type='search'] {
    width: 50%;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .gallery a {
    margin: 10px;
    display: inline-block;
  }
}
